/* frontend/src/features/document-analysis/components/PreviousAnalysisTable.module.scss */

@use '../../../styles/variables';
@use '../../../styles/mixins';

.tableSection {
  margin-top: $spacing-xxl;
  padding: $spacing-xl;
  @include card-shadow;
  animation: fadeIn 0.8s ease-out;

  h3 {
    font-size: $font-size-xl;
    color: $color-text-dark;
    margin-bottom: $spacing-lg;
    text-align: center;
  }

  .actionButtons {
    display: flex;
    gap: $spacing-sm; // Space between buttons
    justify-content: center; // Center buttons in the cell
  }

  .dashboardTable {
    margin-top: $spacing-lg;
  }

  .errorMessage {
    @extend .message.error;
    text-align: center;
  }
  .infoMessage {
    @extend .message.info;
    text-align: center;
  }
}
